<a id="logo" href="/">

    <!-- The SVG content below was pasted from SITE/inkscape/logo.svg  -->
<svg id="jmjdocs-logo" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
	width="100%" height="100%"  viewBox="0 0 285.1 69.9" xml:space="preserve">
    <g
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:64.4861px;line-height:1.25;font-family:'Bauhaus 93';-inkscape-font-specification:'Bauhaus 93, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;letter-spacing:0px;word-spacing:0px;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.41823"
       id="text33"
       aria-label="JMJ DOCS">
      <path
         id="path842"
         style="fill:#ffffff;stroke-width:2.41823"
         d="M 18.857308,2.6446905 V 31.613055 q 0,6.54937 -3.715508,10.83165 -3.715507,4.250793 -9.4147181,4.250793 -1.6688297,0 -3.9044318,-0.72421 V 33.596759 q 0.9446206,0.409335 1.7318044,0.409335 2.5189883,0 2.5189883,-4.061868 V 2.6446905 Z" />
      <path
         id="path844"
         style="fill:#ffffff;stroke-width:2.41823"
         d="M 25.343702,45.624928 V 14.641372 q 0,-5.7621856 3.495096,-9.4147186 3.495096,-3.6525329 9.068358,-3.6525329 6.612344,0 10.170415,6.0770591 2.172627,-3.2746847 4.660128,-4.6601282 2.487501,-1.4169309 6.140034,-1.4169309 5.793673,0 8.879434,3.6525329 3.08576,3.652533 3.08576,10.5167756 V 45.624928 H 58.059062 v -27.96077 q 0,-2.078165 -0.346361,-2.7394 -0.314873,-0.692722 -1.322469,-0.692722 -1.889241,0 -1.889241,3.21171 V 45.624928 H 41.717126 v -27.96077 q 0,-2.046678 -0.346361,-2.7394 -0.346361,-0.692722 -1.353956,-0.692722 -1.889242,0 -1.889242,3.432122 v 27.96077 z" />
      <path
         id="path846"
         style="fill:#ffffff;stroke-width:2.41823"
         d="M 90.900368,2.6446905 V 31.613055 q 0,6.54937 -3.715507,10.83165 -3.715508,4.250793 -9.414719,4.250793 -1.66883,0 -3.904432,-0.72421 V 33.596759 q 0.944621,0.409335 1.731805,0.409335 2.518988,0 2.518988,-4.061868 V 2.6446905 Z" />
      <path
         id="path848"
         style="fill:#ffffff;stroke-width:2.41823"
         d="M 127.1738,14.987733 V 45.624928 H 114.38994 V 2.6446905 h 16.65681 q 10.9576,0 17.16061,4.9750018 7.36804,5.9511097 7.36804,16.1530117 0,9.76108 -6.29747,15.932601 -6.29747,6.171521 -16.21599,6.171521 -1.16503,0 -3.80997,-0.125949 V 33.124448 h 2.04668 q 11.17801,0 11.17801,-9.351744 0,-8.784971 -10.98909,-8.784971 z" />
      <path
         id="path850"
         style="fill:#ffffff;stroke-width:2.41823"
         d="m 181.99329,1.5741205 q 9.13133,0 15.64921,6.6438315 6.54937,6.643831 6.54937,15.901113 0,9.414719 -6.58085,15.995576 -6.58086,6.580857 -15.99558,6.580857 -9.35174,0 -15.96409,-6.612345 -6.61234,-6.612344 -6.61234,-15.964088 0,-9.446206 6.64383,-15.9955751 6.67532,-6.5493694 16.31045,-6.5493694 z m -0.37785,12.6579155 q -3.93592,0 -6.7068,2.896837 -2.77089,2.896836 -2.77089,6.990192 0,4.093356 2.77089,6.990193 2.80237,2.896836 6.7068,2.896836 3.96741,0 6.70681,-2.865349 2.77088,-2.896836 2.77088,-7.02168 0,-4.124843 -2.77088,-6.990192 -2.7394,-2.896837 -6.70681,-2.896837 z" />
      <path
         id="path852"
         style="fill:#ffffff;stroke-width:2.41823"
         d="m 239.30027,24.622863 13.38212,0.346361 q -1.32246,10.390826 -7.2106,16.05855 -5.85665,5.667724 -15.30285,5.667724 -9.60365,0 -16.09004,-6.423421 -6.45491,-6.454907 -6.45491,-15.995575 0,-9.603643 6.58086,-16.1530121 6.61234,-6.5493694 16.27896,-6.5493694 9.50918,0 15.86963,6.42342 4.40823,4.4397165 6.23449,12.3745295 l -13.697,0.913134 q -2.29857,-7.053168 -8.72199,-7.053168 -4.09336,0 -6.76978,2.833862 -2.64494,2.833862 -2.64494,7.210604 0,4.219305 2.61345,6.990192 2.61345,2.7394 6.61234,2.7394 4.06187,0 6.45491,-2.424526 2.42453,-2.424526 2.86535,-6.958705 z" />
      <path
         id="path854"
         style="fill:#ffffff;stroke-width:2.41823"
         d="M 278.91136,2.4557664 V 14.704347 q -1.38544,-0.472311 -2.14114,-0.472311 -1.44842,0 -2.4875,1.07057 -1.03908,1.07057 -1.03908,2.581963 0,1.290982 1.13354,3.274685 l 0.97611,1.700317 q 2.64494,4.597154 2.64494,8.879434 0,6.265983 -4.47121,10.611238 -4.43971,4.345255 -10.86313,4.345255 -3.08576,0 -6.10855,-1.416931 V 32.841062 q 1.82627,1.165032 3.2432,1.165032 1.66883,0 2.77088,-0.94462 1.13355,-0.976108 1.13355,-2.424527 0,-0.94462 -1.79478,-4.124843 -2.86535,-5.037976 -2.86535,-10.075953 0,-6.077059 4.31377,-10.4538011 4.34525,-4.4082294 10.35934,-4.4082294 2.64493,0 5.19541,0.8816459 z" />
    </g>
</svg>

</a>
